:root {
    --primary-color: #2F4F4F;
    --secondary-color: #FFBF00;
    --accent-color: #708090;
    --neutral-color: #FAF9F6;
    --second-accent: #A0C263;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.menu button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.menu button:hover {
    background-color: yellow;
}

.menu button:nth-child(1) {
    margin-right: 6px;
}

.highlight {
    color: yellow;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: var(--neutral-color);
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 0 0 10px #333;
}

.grid img {
    margin: 10px;
}

.grid p {
    margin-top: 6px;
}

.grid a {
    margin-top: 6px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
	background-color: var(--second-accent);
}

@media screen and (min-width: 650px) {
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }
}