:root {
    --primary-color: #2F4F4F;
    --secondary-color: #FFBF00;
    --accent-color: #708090;
    --neutral-color: #FAF9F6;
    --second-accent: #A0C263;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--neutral-color);
}

.logo {
    display: flex;
    align-items: center;
    padding: 10px 0 0 10px;
}

.logo img {
    width: 64px;
    height: auto;
    margin-right: 10px;
}

.logo .title {
    font-weight: 400;
    font-size: 24px;
}

#menu {
    font-size: 32px;
    border: 0;
    color: var(--third);
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.nav_links li {
    list-style: none;
}

.nav_links a {
    display: block;
    width: 200px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    color: var(--third);
    transition: .5s;
}

.nav_links a:hover {
    background-color: black;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul {
    overflow: hidden;
}

nav.open {
    grid-template-rows: 1fr;
}

footer {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    padding: 1rem 0;
}

footer p:nth-child(1) {
    font-weight: 700;
}

footer .social-icons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.menu button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    cursor: pointer;
}

.menu button:hover {
    background-color: yellow;
}

.menu button:nth-child(1) {
    margin-right: 6px;
}

.highlight {
    color: yellow;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;
    margin: 0 auto;
}

.grid section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    background-color: var(--neutral-color);
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 0 0 10px #333;
}

.grid img {
    margin: 10px;
}

.grid p {
    margin-top: 6px;
}

.grid a {
    margin-top: 6px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section:nth-child(even) {
	background-color: var(--second-accent);
}

@media screen and (min-width: 650px) {
    header {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }

    footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    footer .social-icons {
        margin: 0;
    }
}